/*
* @Author: zxzxw
* @Date:   2018-01-22 20:58:06
* @Last Modified by:   zxzxw
* @Last Modified time: 2018-01-22 22:37:04
*/
.dig{
	width: 100%;
	height: 97px;
	background: white;
	position: fixed;
	top: 0;

}
.body{
	width: 100%;
	height: 650px;
	/* background: red; */
	background: url('../img/01.jpg') no-repeat;
	
	

}
.body img{
	width: 100%;
	height: 100%;
	position: relative;
}
.my{
	width: 100%;
	height:268px;
	background: rgba(0, 0, 0, 0);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}
.no{
	    width: 1170px;
	    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.body h2{
	    font-size: 46px;
    margin-bottom: 37px;
    color: white;
}
.row{
	margin-right: -15px;
    margin-left: -15px;
}
.col{
	    width: 100%;
	    float: left;
     /* position: relative; */
    min-height: 1px;
   /*  padding-right: 15px;
    padding-left: 15px; */
}
.col p{
	font-size: 18px;
	font-weight: 400;
	margin: 0 0 10px;
    margin-bottom: 29px;
    color: white;
}
.big{
	width: 1170px;
	height: 56px;
	
	overflow: hidden;
	margin: 0 auto;
}
.suml{
	width: 144px;
	height: 54px;
	border: 1px solid white;
	border-radius: 50px;
}
.suml p{
	font-size: 13px;
	color: white;
	text-align: center;
	line-height: 54px;
}
.suml:hover{
	background: #337ab7;
}
.next{
	width: 100%;
	height: 650px;
	
}
.next-l{
	width: 1170px;
	height: 600px;
	background: white;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 50px;
}
.yes{
	width: 100%;
	height: 27px;
	
}
.yes h2{
	font-size: 25px;
	color: black;
	text-align: center;
}
.pon{
	width: 100%;
	height: 120px;
	padding-top: 35px;
	padding-bottom: 30px;
	
}
.pon p{
	font-size: 17px;
	margin: 0 0 10px;
	color: black;
	text-align: center;
	padding-bottom: 30px;
}
.pon h2{
	    color: black;
    font-size: 17px;
    padding-right: 0px;
    color: black;
    text-align: center;
}
.he{
	    width: 35px;	
	    font-size: 16px;
	    border-radius: 50%;
    border: solid 1px #9f9f9f;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin-left: 5px;
    text-align: center;
    color: #9f9f9f;
}
.jing{
	width: 1170px;
	height: 370px;
	margin: 0 auto;
}
.jing img{
	display: block;
    max-width: 100%;
    height: auto;
    margin: 15px auto;
}